.div{
     table{
        width: 100%;
        border-collapse: collapse;
     }
    
    th, td {
        border: 2px solid rgb(130, 54, 54);
        padding: 10px;
        text-align: left;
    }
    th {
        background-color: #603131;
    }
}
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #6353f5;
    padding: 10px 0;
    color:#fcf9f9;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    margin: 0 15px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
  }
  
  main {
    padding: 20px;
  }
  
  .container {
    display: flex;
  }
  
  .left-column {
    flex: 2;
    padding-right: 20px;
  }
  
  .right-column {
    flex: 1;
    
  }
  
  .main-news img {
    width: 100%;
    height: auto;
  }
  
  .sub-news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .news-item {
    width: 28%;
    margin-bottom: 10px;
  }
  
  .news-item img {
    width: 100%;
    height: auto;
    
  }
  
  .news-list .news-item {
    border-bottom: 1px solid #eee;
    padding: 5px 0;
  }
  
  /* Thêm hiệu ứng hover nếu cần */
  nav a:hover {
    color: #d4d7da;
  }
  
  .news-item img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
  